<div class="section-body">
    <div class="card">
        <div class="card-body">
            <div class="table-responsive">
                <table id="datatable1" class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Procesos</th>
                        <th>Estatus</th>
                        <th>Accion</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach item=fila from=$listado}
                        <tr id="idProceso{$fila.pk_num_proceso}">
                            <td>{$fila.cod_proceso}</td>
                            <td id="td_{$fila.pk_num_proceso}">{$fila.txt_descripcion_proceso}</td>
                            <td><i class="{if $fila.num_estatus==1}md md-check{else}md md-not-interested{/if}"></i></td>
                            <td align="center">
                                {if in_array('PF-01-05-01-01-02-M',$_Parametros.perfil)}
                                    <button class="modificar btn ink-reaction btn-raised btn-xs btn-primary" data-toggle="modal" data-target="#formModal"
                                        onclick="metMontaProceso({$fila.pk_num_proceso})"
                                        title="Click para modificar" alt="Click para modifica"">
                                        <i class="fa fa-edit" style="color: #ffffff;"></i>
                                    </button>
                                {/if}
                                &nbsp;&nbsp;
                                {if in_array('PF-01-05-01-01-03-E',$_Parametros.perfil)}
                                    <button class="eliminar btn ink-reaction btn-raised btn-xs btn-danger"
                                        onclick="metEliminaProceso({$fila.pk_num_proceso})"
                                        title="Click para eliminar" alt="Click para eliminar"">
                                        <i class="md md-delete" style="color: #ffffff;"></i>
                                    </button>
                                {/if}
                            </td>
                        </tr>
                    {/foreach}
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="4" align="center">
                            {if in_array('PF-01-05-01-01-01-N',$_Parametros.perfil)}
                                <a id="nuevo" href="#" class="button logsCargo btn ink-reaction btn-raised btn-info" title="Click para crear un nuevo proceso" alt="Click para crear un nuevo proceso"
                                        data-toggle="modal"
                                        data-target="#formModal"
                                        data-keyboard="false"
                                        data-backdrop="static"
                                        onclick="metCrear()"
                                    </button>
                                    <i class="md md-create"></i>&nbsp;Nuevo Proceso
                                </a>
                            {/if}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>