
<div class="section-body contain-lg"><!--CONTENIDO-->

		<div class="row contain-lg">
			<br><br>
			<div class="col-md-4 col-xs-12 col-sm-6">
				<img class="img-responsive width-full height-full" src="{$_Parametros.ruta_Img}menu/{$moduloV}.png">
			</div>
			<div class="col-md-8 col-xs-12 col-sm-6">
				<p>TEXTO DEL MODULO</p>
			</div>
		</div>


</div><!--FIN section-body-->


<script>


</script>




















