<section class="style-default-bright">
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-lg-12 contain-lg">
                <iframe id="tab1" src='{$_Parametros.url}modAF/reportes/FormularioBM1CONTROL/PdfMET/?filtro={$filtro}' style="width:100%; height:500px; border:0px;"></iframe>
            </div>
        </div>
    </div>
</section>
