<section class="style-default-bright">
    <div class="section-header">
        <h2 class="text-primary">Aprobar Voucher</h2>
    </div>
    <div class="section-body contain-lg">
        <div class="row">
            <div class="col-lg-12 contain-lg">
                <div class="table-responsive">
                    <table id="datatable1" class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Id.</th>
                                <th>Período</th>
                                <th>Nro. Voucher</th>
                                <th>Clasificación</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach item=registro from=$listado}
                                <tr id="id{$registro.pk_num_voucher_mast}">
                                    <td><label>{$registro.pk_num_voucher_mast}</label></td>
                                    <td><label>{$registro.ind_anio}-{$registro.ind_mes}</label></td>
                                    <td><label>{$registro.ind_voucher}</label></td>
                                    <td><label>{ConsultarDescripcion::consultar($registro.fk_cbc003_num_voucher,'pk_num_voucher','cb_c003_tipo_voucher')}</label></td>
                                    <td><label>{$registro.txt_titulo_voucher}</label></td>
                                    <td><label>{ConsultarDescripcion::options('cb_estado_voucher',$registro.ind_estatus,'0')}</label></td>
                                    <td align="center">
                                        <button class="ver logsUsuario btn ink-reaction btn-raised btn-xs btn-warning" data-toggle="modal" data-target="#formModal"
                                                data-keyboard="false" data-backdrop="static" idRegistro="{$registro.pk_num_voucher_mast}" title="Ver"
                                                descipcion="El Usuario esta viendo Voucher" titulo="Ver Voucher">
                                            <i class="md md-remove-red-eye" style="color: #ffffff;"></i>
                                        </button>

                                        <button class="logsUsuario btn ink-reaction btn-raised btn-xs btn-primary" idRegistro="{$registro.pk_num_voucher_mast}"  boton="Aprobar" title="Aprobar"
                                                    descipcion="El usuario aprobó un post" titulo="Estas Seguro?" mensaje="Esta seguro que desea aprobar el Voucher!!" id="aprobar_voucher">
                                                <i class="icm icm-rating3"></i>
                                        </button>
                                    </td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
   $(document).ready(function() {
        //  base
        var $base = '{$_Parametros.url}modCB/AprobarVoucherCONTROL/';

        //  nuevo registro
        $('#nuevo').click(function() {
            $('#formModalLabel').html($(this).attr('titulo'));
            $.post($base+'nuevoMET', '', function($dato) {
                $('#ContenidoModal').html($dato);
            });
        });

        // Ver Voucher
        $('#datatable1 tbody').on( 'click', '.ver', function () {
            var $base_ver = '{$_Parametros.url}modCB/ListaVoucherCONTROL/';
            $('#formModalLabel').html($(this).attr('titulo'));
            $.post($base_ver+'verMET', { id: $(this).attr('idRegistro'), estado: 'ver' }, function($dato){
                $('#ContenidoModal').html($dato);
            });
        });

        // Aprobar Voucher
        $('#datatable1 tbody').on( 'click', '#aprobar_voucher', function () {
            var id = $(this).attr('idRegistro');
                swal({
                    title: $(this).attr('titulo'),
                    text: $(this).attr('mensaje'),
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: $(this).attr('boton'),
                    closeOnConfirm: false
                }, function(){
                    $.post($base+'aprobarVoucherMET', { id: id }, function(dato){
                            $(document.getElementById('id'+id)).remove();
                            swal("Operación Exitosa!", dato['mensaje'], "success");
                            $('#cerrar').click();
                   },'json');
                });
        });

    });
</script>
